

body {
    font-family:'Courier New', Courier, monospace;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    gap: 1.20rem;
    flex: 1;
    /* max-width: 300px; */
}

.box {
    display: flex;
    border-radius: 12px;
    max-width: 625px;
    overflow: hidden;
    max-height: 550px;
}

.text {
    flex-grow: 1;
    background-color: hsl(0, 0%, 100%);
    /* max-width: 900px; */
    
    
}

 .figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}


.figure {
    margin: 0;
    flex: 1;
    overflow: hidden; /* clips the image */
} 
 
h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 0.975rem;
    line-height: 1.5;
}

header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.85rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.money {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    font-weight: bolder;
}

 .money span {
    font-size: 0.875rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: line-through;
}

.shop {
    color: hsl(0, 0%, 100%);
    font-size: 0.875rem;
    font-family:cursive;
    font-weight: 700;
    background-color:hsl(158, 36%, 37%);
    border-radius: 10px;
    padding: 0.75rem;
    list-style-image: url(images/icon-cart.svg);
    list-style-position: inside;
    cursor: pointer;
}

.shop:hover {
    background-color: hsl(158, 36%, 25%);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.attribution { 
    display: flex;
    font-size: 11px; 
}
    

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* MOBILE */
@media screen and (max-width: 768px) {
    
    .box {
        flex-direction: column;
        width: 85vw;
        max-width: 550px;
        max-height: none;
    }

    .figure img {
    height: auto; 
}

    header {
        font-size: 0.9rem;
        letter-spacing: 0.3rem;
    }

    h1 {
        font-size: 1.9rem;
        line-height: 1.2;
    }

    p{
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: lighter;
    }

    .money {
        font-size: 1.8rem;
    }

    .money span {
        font-size: 1.2rem;
    }

    main {
        padding: 1.5rem;
        gap: 1rem;
    }

    .attribution {
    max-width: 260px;
    }

}


@media  screen and (min-width: 601px) {
    main{
        padding: 1.5rem;
        gap:1rem;
    }

    h1{
        font-size: 2.1rem;
        line-height: 1.15;
    }
    
    p{
        line-height: 1.45;
    }
}

